
<div class="card col-8 float-right">
    <div class="card-header">
        <h4>Accounts</h4>
    </div>
    <div class="card-body">
        <h5>Account number</h5>
        <p>last opperations</p>
        <h5>Account number</h5>
        <p>last opperations</p>
    </div>
</div>

