@model IEnumerable<Account>
@{
    ViewData["Title"] = "User Panel";
}


<div class="card col-8 float-right">
    <div class="card-header">
        <h4>Accounts</h4>
    </div>
    <div class="">
        <table class="table mt-3">            
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IBAN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Balance)
                        </td>
                        <td>EUR</td>
                    </tr>

                }
                <tr>last transactions</tr>
            </tbody>
        </table>


      
       






    </div>
</div>

